{
	email {$LETSENCRYPT_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip
	reverse_proxy 127.0.0.1:3002
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}

{$SUPABASE_DOMAIN} {
	encode zstd gzip
	reverse_proxy 127.0.0.1:8000
	request_body {
		max_size 25MB
	}
}

